# Python & Virtual Envs
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter & Colab
.ipynb_checkpoints/
sample_data/

# Large ML Files (Crucial)
*.bin
*.pt
*.safetensors
*.model
.cache/

# Data & Logs
*.jsonl
*.parquet
*.log
wandb/

# IDE & OS
.vscode/
.idea/
.DS_Store
